$grey: #7F7F7F;

body {
    font-family: 'PT Sans', sans-serif;
}

.main-section {
    width: 440px;
    margin: 100px auto;

}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .property{
        font-size: 16px;
        font-weight: bold;
        display: flex;


        .attributes {
            text-transform: none;
            margin-left: 11px;
            margin-top: 5px;
        }

        .information {
            margin-left: 12px;
            height: 21px;
            width: 21px;
            border-radius: 100%;
            border: 1px solid $grey;
            color: $grey;
            text-align: center;
            position: relative;
            display: inline-block;
            .tooltip-text {
                visibility: hidden;
                width: 150px;
                background-color: $grey;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 5px;

                position: absolute;
                z-index: 1;
                bottom: 100%;
                margin-left: -80px;
                margin-bottom: 5px;
                font-size: 13px;
            }
        }

        .information:hover .tooltip-text {
            visibility: visible;
        }

        .calculate {
            font-family: 'PT Sans', sans-serif;
            cursor: pointer;
            width: 243px;
            height: 46px;
            border-radius: 15px;
            color: #E60000;
            border: solid 1px #E60000;
            background-color: #ffffff;
            font-weight: bold;
            font-size: 16px;

        }
    }

    .choose-option {
        font-size: 13px;

        .checkbox-text {
            color: #E60000;
            width: 200px;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000000;
        }

        .metal {
            border: none;
            border-bottom: 1px solid #000000;
            width: 100%;
            padding-bottom: 7px;
            padding-left: 7px;
        }

        .dropdown {
            height: 40px;
            border-radius: 20px;
            padding: 0 20px;
        }

        .slider-input {
            position: absolute;
            width: 232px;
            height: 1px;
            overflow: hidden;
            opacity: 0;
        }

        .rangeslider {
            height: 2px;
            width: 232px;
            margin-top: 22px;
            position: relative;
            .rangeslider-fill {
                top: 0;
                height: 100%;
                width: 232px;
                position: absolute;
                background: $grey;
            }

            .rangeslider-handle {
                top: -22px;
                left: 50px;
                background: white;
                border: 1px solid $grey;
                cursor: pointer;
                display: inline-block;
                width: 95px;
                height: 45px;
                border-radius: 20px;
                position: absolute;
            }
        }
    }

    .choose-option.form {
        width: 184px;
    }
}

input, select {
    outline: none;
    font-family: 'PT Sans', sans-serif;
    width: 184px;
    position: relative;
    -webkit-appearance: none;

}

.dropdown-wrapper {
    position: relative;

    i {
        position: absolute;
        right: 13px;
        top: 13px;

        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        z-index: 1;
    }
    .down {
        transform: rotate(45deg);
    }
    .down-metal {
        top: 0;
        transform: rotate(45deg);
    }
}


.checkbox {
    .switch {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 30px;

        input {
            display:none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $grey;
            -webkit-transition: .4s;
            transition: .4s;
            padding: 7px 8px;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 11px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            left: 4px;
            bottom: 4px;
            background-color: white;

        }

        input:checked + .slider {
            background-color: #E5E5E5;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #E5E5E5;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
}



.choose-option {
    .rangeslider--horizontal {
        .rangeslider__handle {
            top: -20px;
        }
    }
    .rangeslider {
        background: $grey;
        .rangeslider__handle {
            width: 95px;
            height: 45px;
            border-radius: 30px;
            background: #ffffff;
        }
    }
}

.currentTerm {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

}


.rangeslider {
    .rangeslider__fill {
        background: $grey;
    }
}

.rangeslider {
    .rangeslider__handle:after {
        width: 0;
        height: 0;
    }
}



